<main>
  <div class="all-width-container">
    <header>
      <div class="search-icon">
        <!-- Search icon goes here -->
        <i class="material-symbols-sharp"> search </i>
      </div>
      <div class="user-info">
        <!-- User image goes here -->
        <i class="material-symbols-sharp">notifications</i>
        <i class="material-symbols-sharp">message</i>
        <i class="material-symbols-sharp">settings</i>
        <i><img src="../assets/profile-1.jpg" /></i>

        <!-- User name goes here -->
      </div>
    </header>
    <p class="welcome-message">Welcome, <b>Angel</b></p>
    <div class="all-width-container-overlay">
      <div class="insights">
        <div class="sales">
          <span class="material-symbols-sharp">analytics</span>
          <div class="middle">
            <div class="left">
              <h3>Total Sales</h3>
              <h1>Rp 250.000</h1>
              <small class="text-muted">last 8 hours</small>
            </div>
            <div class="proses">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>75%</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="income">
          <span class="material-symbols-sharp">stacked_line_chart</span>
          <div class="middle">
            <div class="left">
              <h3>Total Income</h3>
              <h1>Rp 2.500.000</h1>
              <small class="text-muted">last 8 hours</small>
            </div>
            <div class="proses">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>44%</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="income">
          <span class="material-symbols-sharp">stacked_line_chart</span>
          <div class="middle">
            <div class="left">
              <h3>Total Income</h3>
              <h1>Rp 2.500.000</h1>
              <small class="text-muted">last 8 hours</small>
            </div>
            <div class="proses">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="number">
                <p>44%</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <h1>MAIN DASHBOARD</h1>

  <div class="date">
    <input type="date" name="date" value="date" />
  </div> -->
  <div class="insights">
    <div class="sales">
      <span class="material-symbols-sharp">analytics</span>
      <div class="middle">
        <div class="left">
          <h3>Total Sales</h3>
          <h1>Rp 250.000</h1>
          <small class="text-muted">last 8 hours</small>
        </div>
        <div class="proses">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>75%</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-----end of sales-->
    <div class="expenses">
      <span class="material-symbols-sharp">bar_chart</span>
      <div class="middle">
        <div class="left">
          <h3>Total Expenses</h3>
          <h1>Rp 540.000</h1>
          <small class="text-muted">last 8 hours</small>
        </div>
        <div class="proses">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>87%</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!----End of expenses-->
    <div class="income">
      <span class="material-symbols-sharp">stacked_line_chart</span>
      <div class="middle">
        <div class="left">
          <h3>Total Income</h3>
          <h1>Rp 2.500.000</h1>
          <small class="text-muted">last 8 hours</small>
        </div>
        <div class="proses">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>44%</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!------endd Income-->
  </div>
  <!------End of Insghits------>
  <div class="recent-order">
    <h2>Complex Table</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Payment</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tbody>
        <tr>
          <td>Spatium Ui Pro</td>
          <td>18 Apr 2021</td>
          <td>Done</td>
          <td class="progres-on">On Progres</td>
          <td class="primary">View</td>
        </tr>
        <tr>
          <td>Spatium Ui Pro</td>
          <td>18 Apr 2021</td>
          <td>Done</td>
          <td class="new">Done</td>
          <td class="primary">View</td>
        </tr>
        <tr>
          <td>Market place</td>
          <td>18 Apr 2021</td>
          <td>Done</td>
          <td class="danger">Pending</td>
          <td class="primary">View</td>
        </tr>
        <tr>
          <td>Weekly updates</td>
          <td>18 Apr 2021</td>
          <td>Done</td>
          <td class="danger">Pending</td>
          <td class="primary">View</td>
        </tr>

        <tr>
          <td>Samsung Tv Plasma 41Inch 5</td>
          <td>18 Apr 2021</td>
          <td>Done</td>
          <td class="progres-on">On Progres</td>
          <td class="primary">View</td>
        </tr>
      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>
</main>
<!------END OF MAIN----->
