<div class="container">
  <aside>
    <div class="top">
      <div class="logo">
        <img src="../assets/spatium_logo.png" />
        <h2>Spatium<span class="ter">Test</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-symbols-sharp">close</span>
      </div>
    </div>

    <div class="sidebar">
      <a href="#" class="active">
        <span class="material-symbols-sharp">grid_view</span>
        <h3>Dashboard</h3>
      </a>
      <a href="#">
        <span class="material-symbols-sharp">receipt</span>
        <h3>E-Commerce</h3>
      </a>
      <a href="#">
        <span class="material-symbols-sharp">analytics</span>
        <h3>Project</h3>
      </a>
      <a href="#">
        <span class="material-symbols-sharp">receipt_long</span>
        <h3>Contact</h3>
      </a>
      <a href="#">
        <span class="material-symbols-sharp">pie_chart</span>
        <h3>Finance</h3>
        <!-- <span class="message-count">100</span> -->
      </a>
      <a href="#">
        <span class="material-symbols-sharp">perm_media</span>
        <h3>File Manager</h3>
      </a>
      <a href="#">
        <span class="material-symbols-sharp">message</span>
        <h3>Chat</h3>
      </a>
      <a href="#">
        <span class="material-symbols-sharp">calendar_month</span>
        <h3>Calender</h3>
      </a>

      <a href="#">
        <span class="material-symbols-sharp">exit_to_app</span>
        <h3>Log out</h3>
      </a>
    </div>
  </aside>
  <!-----End Of side---------->
</div>
